<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--接口全路径包名+类名-->
<mapper namespace="com.test.mapper.SysRoleMapper">
    <select id="findAllSysRoleList" resultType="com.test.pojo.SysRole">
        SELECT * FROM sys_role
    </select>
    <insert id="addSysRole">
        INSERT INTO sys_role(id,roleName,roleDesc)
        VALUES(NULL,#{roleName},#{roleDesc})
    </insert>
    <select id="queryRoleIdList" resultType="long">
      select roleId from sys_user_role
      where userId=#{user_id}
    </select>

    <!--根据用户编号 删除 中间表的指定用户的角色-->
    <delete id="deleteRoleByUser">
        delete from sys_user_role
        where userId=#{user_id}
    </delete>

    <!--增加指定用户的角色(中间表)-->
    <insert id="addUserRole">
        insert into sys_user_role(userId, roleId)
        values(#{user_id},#{role_id})
    </insert>

</mapper>